/* General structure */
:root {
    /* colors */
    --background-color: rgb(226, 241, 231);
    --dark-color: rgb(26, 44, 56);
    --medium-color: rgb(56, 116, 120);
    --light-color: rgb(98, 149, 132);
}

/* Fonts */
:root {
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    :root { font-family: "InterVariable", sans-serif; font-optical-sizing: auto; }
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    color: var(--dark-color);
}

header, footer {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 400;
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-weight: 300;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-weight: 300;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.text-vanilla-dark {
    color: var(--dark-color) !important;
}

.text-vanilla-medium {
    color: var(--medium-color) !important;
}

.text-vanilla-light {
    color: var(--medium-color) !important;
}

th {
    color: var(--dark-color) !important;
    font-weight: 500;
}

td {
    color: var(--medium-color) !important;
    text-align: right;
}

#dictionaries th,
#dictionaries td {
    text-align: center;
    text-align: center;
}

.table {
    margin: 0 auto;
    width: 100%;
}

.table td,
.table th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media only screen and (max-width: 460px) {
    /* deactivate bootstrap 50% & 75% width on narrow screens */
    .w-50,
    .w-75 {
        width: auto !important;
    }

    #homepage h1 {
        font-size: 1.5rem;
    }

    #homepage :is(h1, h2, h3) {
        margin-top: 0.5em;
    }
}

footer {
    margin-top: 2em;
}

.w-10 {
    width: 10%;
}
