{% extends 'base.html.twig' %}
{% block head_additions %}
  {% set meta_description = 'This is the homepage' %}
    <meta name="description" content="{{ meta_description }}">
{% endblock %}


{% block header %}
  <h1 class="text-center fw-semibold">Vanilla project<br><small class="fs-4 fw-normal mt-0 pt-1">A study of Firefox in Sourthern Europe</small></h1>
{% endblock %}

{% block main %}
<h3>Total population of countries studied:  {{ data.population|number_format }}</h3>




{% endblock %}

{% block footer %}
{% endblock %}
